/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* @font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 500;
  src: local("whitneymedium"), url("./fonts/whitneymedium.otf") format("otf");
}

@font-face {
  font-family: "Whitney";
  font-style: italic;
  font-weight: 500;
  src: local("whitneymediumitalic"),
    url("./fonts/whitneymediumitalic.otf") format("otf");
}
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 700;
  src: local("whitneybold"), url("./fonts/whitneybold.otf") format("otf");
}
@font-face {
  font-family: "Whitney Semibold";
  font-style: normal;
  font-weight: 500;
  src: local("whitneysemibold"),
    url("./fonts/whitneysemibold.otf") format("otf");
}
@font-face {
  font-family: "Whitney Book";
  font-style: normal;
  font-weight: 500;
  src: local("whitneybook"), url("./fonts/whitneybook.otf") format("otf");
}
@font-face {
  font-family: "Whitney Light";
  font-style: normal;
  font-weight: 500;
  src: local("whitneylight"), url("./fonts/whitneylight.otf") format("otf");
} */

