body {
  margin: 0;
  font-family: Assistant, "Whitney", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
}

* {
  /* -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box; */
  /* box-sizing: border-box; */
  /* -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Assistant, "Whitney", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
  /* color-scheme: dark; */
}
a {
  text-decoration: none;
  color: #000;
}
.removeScroll::-webkit-scrollbar {
  display: none;
  overflow: hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
ul,
li {
  list-style: none;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.Toastify__toast {
  min-height: 50px !important;
  /* transform: translateY(0px) !important; */
  padding-left: 5px !important;
  z-index: 10;
  width: 200px;
}
.Toastify__close-button {
  display: none;
}
.Toastify__toast-body {
  margin: 0 !important;
}
.Toastify__toast-container--top-right {
  bottom: 1em;
  right: 1em;
  transform: none;
}
/* .Toastify__toast-container {
  transform: translateY(-153px);
} */
/* @font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 500;
  src: local("Whitney"),
    url("https://fonts.cdnfonts.com/s/38487/whitneymedium.woff") format("woff");
} */

/* @font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 500;
  src: local("whitneymedium"), url("./fonts/whitneymedium.otf") format("otf");
}

@font-face {
  font-family: "Whitney";
  font-style: italic;
  font-weight: 500;
  src: local("whitneymediumitalic"),
    url("./fonts/whitneymediumitalic.otf") format("otf");
}
@font-face {
  font-family: "Whitney";
  font-style: normal;
  font-weight: 700;
  src: local("whitneybold"), url("./fonts/whitneybold.otf") format("otf");
}
@font-face {
  font-family: "Whitney Semibold";
  font-style: normal;
  font-weight: 500;
  src: local("whitneysemibold"),
    url("./fonts/whitneysemibold.otf") format("otf");
}
@font-face {
  font-family: "Whitney Book";
  font-style: normal;
  font-weight: 500;
  src: local("whitneybook"), url("./fonts/whitneybook.otf") format("otf");
}
@font-face {
  font-family: "Whitney Light";
  font-style: normal;
  font-weight: 500;
  src: local("whitneylight"), url("./fonts/whitneylight.otf") format("otf");
} */
/* @font-face {
  font-family: "Whitney Semibold";
  font-style: italic;
  font-weight: 500;
  src: local("fonts/WhitneySemiboldItalic.otf");
  url("https://fonts.cdnfonts.com/s/38487/WhitneySemiboldItalic.woff")
      format("woff");
}
@font-face {
  font-family: "Whitney Book";
  font-style: italic;
  font-weight: 500;
  src: local("fonts/whitneybookitalic.otf");
  url("https://fonts.cdnfonts.com/s/38487/whitneybookitalic.woff")
      format("woff");
}
@font-face {
  font-family: "Whitney Light";
  font-style: italic;
  font-weight: 500;
  src: local("fonts/whitneylightitalic.otf");
  url("https://fonts.cdnfonts.com/s/38487/whitneylightitalic.woff")
      format("woff");
}
*/

@font-face {
  font-family: Whitney;
  font-style: normal;
  font-weight: 500;
  src: local("whitneymedium"),
    url("./fonts/whitneymedium.ttf") format("truetype");
}

@font-face {
  font-family: Whitney Semibold;
  font-style: normal;
  font-weight: 500;
  src: local("whitneysemibold"),
    url("./fonts/whitneysemibold.ttf") format("truetype");
}

@font-face {
  font-family: "Whitney Light";
  font-style: normal;
  font-weight: 500;
  src: local("whitneylight"), url("./fonts/whitneylight.ttf") format("truetype");
}

@font-face {
  font-family: "Whitney Book";
  font-style: normal;
  font-weight: 500;
  src: local("whitneybook"), url("./fonts/whitneybook.ttf") format("truetype");
}
