.pagination {
  margin-bottom: 50px;
}

.active-page {
  all: unset;
  margin-right: 8px;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid transparent;
  color: #282c3f;
  color: #fff;
  letter-spacing: 0.4px;
  border-radius: 2px;
  font-size: 18px;
  background-color: #282c3f;
}
.pagination .next,
.previous {
  border: 1px solid #edebef;
  border-radius: 5px;
  padding: 8px 25px;
  font-size: 18px;
  font-weight: 700;
}
.pagination .next {
  margin-left: 20px;
}
.pagination .previous {
  margin-right: 20px;
}
.pagination .pagination-button {
  all: unset;
  margin-right: 8px;
  font-weight: 700;
  cursor: pointer;
  padding: 8px 12px;
  border: 1px solid transparent;
  color: #282c3f;
  background-color: #fff;
  border-radius: 2px;
  font-size: 18px;
}

.pagination .pagination-button:hover {
  border: 1px solid #edebef;
}
